/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/DroidSans.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/DroidSans-Bold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Boogaloo-Regular.otf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url(fonts/glyphicons-halflings-regular.ttf);
}

body {
	font-family: 'Droid Sans';
	font-size: 15px;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Boogaloo" !important;
	font-weight: normal !important;
	color: #666;
	margin: 0;
	padding: 0;
}

.navbar-inverse{
    background-color: #fff;
    border-color: #000000;
}

.navbar {
    border:none;
}

.navbar-nav {
    float:right;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    color:#89c236;
    background-color:white;
    border-top:solid 4px #89c236;
}

.navbar .nav > li > a {
    color: #666;
    border-top: 4px solid #fff;
    text-shadow: none;
    font-size: 16px;
    padding: 20px;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    border-top: 4px solid #89c236;
  	color: #fff;
    background-color: #89c236
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    border-top: 4px solid #89c236;
  	color: #fff;
    background-color: #89c236
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #89c236;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color:#f4aa42;
    border-color:#f4aa42;
}

.navbar-inverse .navbar-toggle{
    border-color: #89c236;
    background-color: #89c236
}

.navbar-inverse .navbar-toggle .icon-bar:hover{
    border-color: #fff;
    background-color:#fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border:none;
}

.header{
    background: url("../img/header.jpg") repeat;
    padding:10px 0;
    border-bottom:5px solid #f6f6f6 !important;
    border-top: 5px solid #f6f6f6 !important;
    margin-bottom:20px;
}

.header h1{
    color:#fff;
    font-size:70px;
    text-align:center;
    padding:30px 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.header img{
    width:100%;
    height: 100%;
}

.post-idea {
    background: #fff url(../img/squares.png);
    border-left: 4px solid #89c236;
    padding: 13px 13px 13px 15px;
    font-style: italic;
    margin: 20px auto;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 70px !important;
    font-family:"Boogaloo";
    overflow:auto;
    text-align:center;
}

.light-bulb{
    background: url(../img/lightbulb-off.png) no-repeat;
    width: 180px;
    height: 210px;
    display:inline-block;
    margin:0 auto;
}

.light-bulb:hover{
    background: url(../img/lightbulb-on.png) no-repeat;
    width: 180px;
    height: 210px;
}

.title {
    border-bottom: 3px double #f6f6f6;
    margin-bottom: 10px;
}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
    border-bottom: 5px double #89c236 !important;
    margin-bottom: -4px !important;
    display: inline-block !important;
    padding: 0px 10px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.idea-post{
    border-left: 4px solid #89c236;
    padding-left:20px;
}

.idea-title a{
    color:#f4aa42;
}

.progress-box h4 a{
    color:gray;
}

.progress-box h4 a:hover{
    color:#f4aa42;
}

.idea-post-meta{
    color:#999;
    font-family:"Boogaloo"
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.social-grid {
    margin: 0px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.social-grid li {
    width: 72px;
    height: 72px;
    display: inline-block;
    margin: 6px 12px;
}

.social-item {
    width: 72px;
    height: 72px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: default;
}

.social-info > div, .social-info > div:hover {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    border: 1px solid #999;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.social-twitter {
    background: #f6f6f6 url(../img/twitter_grey.png) no-repeat;
}

.social-facebook {
    background: #f6f6f6 url(../img/facebook_grey.png) no-repeat;
}

.social-facebook:hover{
    background: #3b5998 url(../img/facebook_white.png) no-repeat;
    cursor:pointer;

}

.social-twitter:hover {
    background: #48c4d2 url(../img/twitter_white.png) no-repeat;
    cursor:pointer;
}

.progress-box{
    margin-top:20px;
}

.progress {
    margin-top:3px;
}

.progress-bar {
    height: 23px;
    position: relative;
    background: #89c236;
}

.meter > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.progress-bar h5 {
    margin-top: 15px;
}

.btn-success{
    background-color:#89c236;
    border-color:#89c236;
}

.btn-success:hover{
    background-color:#f4aa42;
    border-color:#f4aa42;
}

.footer{
     border-top: 5px solid #f6f6f6 !important;
}

.footer-inner{
     border-top: 5px solid #89c236 !important;
}

.page-title {
    background: url(../img/bg-grey2.png);
    display: block;
    margin-bottom: 25px;
    position: relative;
    z-index: 20;
    border-bottom: 5px solid #f6f6f6;
}

.page-title-inner {
    background: rgba(153,204,102, 0.9);
    -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
    box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
    padding: 10px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
}

.page-header-title{
    color:white;
}
.rating-container .caption, .rating-container .clear-rating{
    display:none;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.panel-info > .panel-heading {
    color: #31708f;
    background-color: #ffd18b;
    border-color: #ffb311;
}

.panel-info {
    border-color: #ffb311;
}
